body{
    height: 100vh;
    width: auto;
    background-color: brown;
}
.parent{
    height: 80%;
    width: 80%;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.child{
    height: 20%;
    width: 20%;
    background-color: blueviolet;
    margin: 10px;
}
@media screen and (max-width : 600px) {
    .parent{
        background-color: black;
        flex-direction: column;
        
    }
    .child
    {
        background-color: bisque;
    }
}